<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Tenant Dashboard</div>
    <div fxLayout="row wrap" fxLayoutGap="17px" fxLayoutAlign="start start">

        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">
                    <h1>House Detail</h1>
                </h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a routerLink="" class="btn btn-primary">Detail</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">
                    <h1>Home Detail</h1>
                </h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a routerLink="" class="btn btn-primary">Detail</a>
            </div>
        </div>
    </div>
</div>