   
<section class="footer navbar-fixed-bottom">
    <!-- Footer -->
    <footer class="text-center text-black" style="background-color: #e3f2fd;">
      <!-- Grid container -->
      <div class="container p-4 pb-0">
        <!-- Section: CTA -->
        <section class="">
          <p class="d-flex justify-content-center align-items-center">
            <span class="me-3">Register for free</span>
            <button routerLink="/signup" type="button" class="btn btn-outline-dark btn-rounded">
              Sign up!
            </button>
          </p>
        </section>     
      </div>
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2023 Copyright:
        <a class="text-black" href="">myhome.com</a>
      </div>    
    </footer>
  </section>