<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Dashboard</div>
  <div fxLayout="row wrap" fxLayoutGap="17px" fxLayoutAlign="start start">

    <mat-card class="example-card">

      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">
            <h1>Admin</h1>
          </h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a routerLink="/admin" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </mat-card>

    <mat-card class="example-card">

      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">
            <h1>Owners</h1>
          </h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a routerLink="/owner" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </mat-card>
    <mat-card class="example-card">

      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">
            <h1>Tenant</h1>
          </h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a routerLink="/tenant" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </mat-card>



  </div>
</div>