<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-4">Admin Dashboard</div>
  <div fxLayout="row wrap" fxLayoutGap="17px" fxLayoutAlign="start start">

    <div class="card" style="width: 18rem; ">
      <div class="card-body">
        <h5 class="card-title">
          <h1><mat-icon style="font-size: 2rem; margin-right: 10px;">group</mat-icon> List of Owners
          </h1>
        </h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a routerLink="/admin/ownerlist" class="btn btn-primary">View</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">
          <h1><mat-icon style="font-size: 2rem; margin-right: 10px;">group</mat-icon> List of Teanent</h1>
        </h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a routerLink="/admin/tenantlist" class="btn btn-primary">View</a>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">
          <h1><mat-icon style="font-size: 2rem;" style="margin-right: 10px;">home</mat-icon> List of Houses</h1>
        </h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a routerLink="/admin/adminviewhomes" class="btn btn-primary">View</a>
      </div>
    </div>

    <!-- <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">
          <h1><mat-icon style="font-size: 2rem; "></mat-icon> Demo</h1>
        </h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a routerLink="" class="btn btn-primary">View</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">
          <h1><mat-icon style="font-size: 2rem;" style="margin-right: 10px;"></mat-icon> Demo</h1>
        </h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a routerLink="" class="btn btn-primary">View</a>
      </div>
    </div> -->


  </div>
</div>