<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - Home Rental</title>
</head>

<body>
    <!-- Navbar (you can include your application's navigation bar here) -->


    <!-- About Us Section -->
    <section class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <h2>About Us</h2>
                <p>Welcome to Home Rental, your trusted source for finding the perfect home for rent. We are dedicated
                    to helping you find the ideal rental property that suits your needs and preferences.</p>
                <p>Our team of real estate experts is committed to making your home search easy and enjoyable. Whether
                    you're looking for an apartment, house, or condo, we have a wide range of listings to choose from.
                </p>
                <h2>Our Mission</h2>
                <p>At Home Rental, our mission is to simplify the process of finding your perfect home. We understand
                    that finding the right place to live is not just about the property; it's about the lifestyle and
                    comfort it offers. That's why we're dedicated to providing you with a seamless experience.
                    </p>
            </div>
            
            <div class="col-md-6">
                <img src="../assets/images/aboutUs.jpg" alt="About Us" class="img-fluid rounded">
            </div>
        </div>
    </section>

   

</body>

    <app-footer></app-footer>

</html>