<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Owner Dashboard</div>
    <div fxLayout="row wrap" fxLayoutGap="17px" fxLayoutAlign="start start">

        <mat-card class="example-card">

            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">
                        <h1>Add Property</h1>
                    </h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a routerLink="/owner/addproperty" class="btn btn-primary">Add property</a>
                </div>
            </div>
        </mat-card>


        <mat-card class="example-card">

            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">
                        <h1>Notification</h1>
                    </h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a routerLink="/owner/viewrequest" class="btn btn-primary">Show</a>
                </div>
            </div>
        </mat-card>

        <mat-card class="example-card">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">
                        <h1>Home Detail</h1>
                    </h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a routerLink="/owner/homedetails" class="btn btn-primary">Detail</a>
                </div>
            </div>
        </mat-card>

    </div>
</div>